body{
    overflow-x: 'hidden'
}

body, html {
    height: 100%;
  }       
      .image { 
    background-image: url(/Images/img.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .btn {
    position: absolute;
    top: 100%;
    right: 40%;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px 24px;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 10px;
  }
  

#Im:hover{
    cursor: pointer;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:10%;
    top:0;
    height:80%;
    width:80%;
    position:absolute;
  }